<h3>Add User</h3>
<form (ngSubmit)="onSubmit()">
    <table class="table table-striped">
        <tr>

            <td>
                <label for="firstName">First Name</label>

            </td>
            <td>
                <input type="text" class="form-control" id="firstName" required [(ngModel)]="user.firstName" name="firstName">
            </td>
        </tr>
        <tr>

            <td>
                <label for="lastName">Last Name</label>

            </td>
            <td>
                <input type="text" class="form-control" id="lastName" required [(ngModel)]="user.lastName" name="lastName">
            </td>
        </tr>

        <tr>

            <td>
                <label for="employeeId">Employee Id</label>
            </td>
            <td>
                <input type="text"  maxlength="3" class="form-control" id="employeeId" required [(ngModel)]="user.employeeId" name="employeeId">
            </td>
        </tr>
        <tr>
            <td>
                <button type="submit" class="btn btn-success">Submit</button>
                <button type="reset" class="btn btn-success" style="margin-left: 5px">Reset</button>
            </td>
            <td>
                <button type="button" (click)="listUser()" class="btn btn-success">User List</button>
            </td>
        </tr>
    </table>
</form>